 <% include templates/sidebar %>
<% include templates/topbar %>
            <!-- End navbar   -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title"></h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                                    <p align="right">
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal1">
                                                            <i class="now-ui-icons ui-1_simple-add"> Add Driver</i>
                                                    </button>
                                                    </p>
                                                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Add a Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" placeholder="First Name">
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" placeholder="Gender">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                <h4 class="card-title"></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>License</th>
                                            <th>Driver Type</th>
                                            <th>Assigned Unit</th> 
                                            <!-- <th>Birthdate</th>  -->
                                            <!-- <th>Gender</th>  -->
                                            <!-- <th>Ref</th>  -->
                                            <!-- <th>Location</th>  -->
                                            <th>Action</th>
                                            <th>Info</th>
                                            <tr>
                                                <td>1</td>
                                                <td>Ang Casasis</td> 
                                                <td>123456</td>
                                                <td>Regular</td>
                                                <td>MPS 1234</td>                                              
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Jerevon Carreonniverse</td> 
                                                <td>654321</td>                                              
                                                <td>Regular</td>
                                                <td>AOA 1975</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td>3</td>
                                                <td>Roberto Zulueta</td> 
                                                <td>589402</td>                                              
                                                <td>Regular</td>
                                                <td>TGD 2316</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Pio Sales</td> 
                                                <td>811123</td>                                              
                                                <td>Regular</td>
                                                <td>TID 1236</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Joseph Serdena</td> 
                                                <td>666666</td>                                              
                                                <td>Regular</td>
                                                <td>PMO 1237</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>JC Pagaduan</td> 
                                                <td>987512</td>                                              
                                                <td>Regular</td>
                                                <td>OAA 9234</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Carlo Doronila</td> 
                                                <td>778123</td>                                              
                                                <td>Regular</td>
                                                <td>GTA 8734</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Lance San Pablo</td> 
                                                <td>906621</td>                                              
                                                <td>Regular</td>
                                                <td>ITE 6784</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Joshua Ganila</td> 
                                                <td>453127</td>                                              
                                                <td>Reliever</td>
                                                <td>DCB 5294</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Eau Ben</td> 
                                                <td>987654</td>                                              
                                                <td>Reliever</td>
                                                <td>EZB 49</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>                                            
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Driver</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <form method="POST" action="/admin/driver_and_staffs/driver/edit">
                                                                            <div class="form-group">
                                                                            <label for="inputFName" class="col-lg-10 control-label">First</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputFName" name="fname" placeholder="First Name" value=>
                                                                            </div></br>
                                                                            <label for="inputMName" class="col-lg-10 control-label">Middle</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputMName" name="mname" placeholder="Middle Name">
                                                                            </div></br>
                                                                            <label for="inputLName" class="col-lg-10 control-label">Last</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputLName" name="lname" placeholder="Last Name">
                                                                            </div></br>
                                                                            <label for="inputDType" class="col-lg-10 control-label">Type</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputDtype" placeholder="Driver Type">
                                                                            </div></br>
                                                                            <label for="inputContact" class="col-lg-10 control-label">Contact</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="number" class="form-control" id="inputContact" name="cnumber" placeholder="Contact Number">
                                                                            </div></br>
                                                                            <label for="inputBirthdate" class="col-lg-10 control-label">Birthdate</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="date" class="form-control" id="inputBirthdate" name="bdate" placeholder="Birthdate">
                                                                            </div></br>
                                                                            <label for="inputGender" class="col-lg-10 control-label">Gender</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputGender" name="gender" placeholder="Gender">
                                                                            </div></br>
                                                                            </div>
                                                                        </form>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-container="body" data-original-title="Basic Information" data-toggle="popover" data-placement="right" data-content="" data-color="primary">
                                                    Info
                                                    </button>
                                                </td>
                                                </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
    
                </div>
            </footer>
        </div>
    </div>
</body>
   <!-- Core JS Files    -->
<script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!-- Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/  -->
<script src="/assets/js/plugins/bootstrap-switch.js"></script>
  <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/  -->
<script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!-- Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker  -->
<script src="/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
 <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc  -->
<script src="/assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

</html> 