<!doctype html>  
<html lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products Category
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Bath and Body</a></li>
            <li><a href="#">Besuty tools</a></li>
            <li><a href="#">Hair care</a></li>
            <li><a href="#">Makeup</a></li>
            <li><a href="#">Skin care</a></li>
          </ul>
        </li>
        
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" type="button" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Log-in</a></li>
        <li><a href="/home/signup"><span class="glyphicon glyphicon-log-in"></span> Sign-up</a></li>
        </ul>
    </div>
    </nav>
    <div id="loginModal" class="modal" tabindex="-1" role="dialog" >
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" >×</button>
                    <h1 class="text-center">Login</h1>
                </div>
                <div class="modal-body">
                    <form method="post" action="/home/login" class="form col-md-12 center-block">
                      <div class="form-group">
                        <input name="email" type="text" class="form-control input-lg" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input name="password" type="password" class="form-control input-lg" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                        <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>	
                </div>
            </div>
            </div>
          </div>
    

<style>
    .product-list {
    margin-top: 25px;
}

 .product-list .product {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 300px;
}
  .product-list .product .product-info {
    min-height: 220px;
}
.product-info button
{
  border:0;
  background:none;
}
</style>

<body>
    <br>
    <br>

    <div class="container">
        <div class="row product-list">
        <div class="col-sm-3 col-xs-6">
        	<div class="product">
            	<div class="product-info">
					<button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
	                <p class="primary-font">
						TH Monogram Coated Canvas Cross Body
	                </p>
	                <p class="text-muted">11591347</p>
					
	            </div>
				<div class="btn-group product-action">
				
 				<button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
				</i>
				
				To Cart
				
				</button>
				</div>
			</div>
        </div>
    </div>
    <tbody>
     
    </tbody>
  </table>
</div>

</body>
</html>
