<% include templates/sidebar %>
<% include templates/topbar %>
            <!-- End Navbar -->
            <div class="panel-header">
                    <div class="header text-center">
                        <h2 class="title"></h2>
                    </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                                    <p align="right">
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal1">
                                                            <i class="now-ui-icons ui-1_simple-add">Add Stocks</i>
                                                    </button>
                                                    </p>
                                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Add Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                            </div>
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>Product ID</th>
                                            <th>Description</th>
                                            <th>Stocks</th>
                                            <th>Action</th>
                                        </thead>
                                        <tr>
                                            <td>1</td>
                                            <td>Spark Plug</td>
                                            <td><span class="badge badge-danger">Out of Stock</span></td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Distributor</td>
                                            <td>4</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>CamShaft</td>
                                            <td>7</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Flywheel</td>
                                            <td>6</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Piston</td>
                                            <td>1</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Alternator</td>
                                            <td>8</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Spark Plug Cable</td>
                                            <td>6</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Oil</td>
                                            <td>3</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Interior</td>
                                            <td>5</td>
                                            <td>
                                                <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal2">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                    </button>
                                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5>Edit Stocks</h5>
                                                                    <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset>
                                                                        <div class="form-group">
                                                                            <label for="inputPlate" class="col-lg-10 control-label">Plate Number</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputPlate" placeholder="Plate Number">
                                                                            </div></br>
                                                                            <label for="inputRoute" class="col-lg-10 control-label">Route</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputRoute" placeholder="Route">
                                                                            </div></br>
                                                                            <label for="inputModel" class="col-lg-10 control-label">Model</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputModel" placeholder="Model">
                                                                            </div></br>
                                                                            <label for="inputYear" class="col-lg-10 control-label">Year Acquired</label>
                                                                            <div class="col-lg-10">
                                                                                <input type="text" class="form-control" id="inputYear" placeholder="Year Acquired">
                                                                            </div></br>
                                                                    </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-info btn-fill pull-right"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="button"data-toggle="modal" data-target="#myModal3">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <footer class="footer">
                <div class="container-fluid">    
                </div>
            </footer>
            </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo/demo.js"></script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initGoogleMaps();
    });
</script>

</html>
